@model List<And.Etrade.Core.Model.Entity.Product>
@{
    ViewBag.Title = "Index";
    var isLogin = (bool)ViewBag.isLogin;
}

<h3>Last 5 Product</h3>
@{
    foreach(var item in Model)
    {
    <div class="productBox">
        <p class="title"> @item.Name </p>
        <img id="resim" src="@item.ImageUrl" alt="Alternate Text" />
        <p>
            @item.Brand
        </p>
        <p>
            @item.Price.ToString("##.## ₺")
        </p>
        <p id="des">
            @item.Description
        </p>
        <a class="btn btn-success" href="/product/@item.Name.Replace(" ","-")/@item.ID"><i class="icon-eye-open"></i>  Detail</a>
        @{
            if (isLogin)
            {
                <a class="btn btn-default addBasket" data-pID="@item.ID" href="#"><i class=""></i>  Add to Basket</a>
            }
        }
    </div>
    }
}
<div id="andModal" title="Thank You !!">
    Your product has been on basket. <br />
    <a href="/My-Basket" class="btn btn-success">Go to Basket</a>
</div>
<div class="row"></div>
<style>
    .productBox{
        width:300px;
        height:450px;
        float:left;
        margin:10px;
        border:2px solid #b9b9b9;
        padding:10px;
    }
    .productBox img{
        width:260px;
        height:250px;
        padding-left:20px;
        padding-right:20px;
    }
    .productBox  p{
        padding-top:5px;
        font-weight:bold;
        text-align:center;
    }
    #des{
        padding-top:10px;
    }
    .btn-success{
        margin-left:40px;
    }
</style>
@section script{
    <script type="text/javascript">
        $( function() {
            $( "#dialog" ).dialog({
              autoOpen: false,
              show: {
                effect: "blind",
                duration: 1000
              },
              hide: {
                effect: "explode",
                duration: 1000
              }
            });
 
            $(".addBasket").on("click", function () {
                var pid = $(this).attr("data-pID");
                $.post("/Basket/AddProduct?productID=" + pid + "&quantity=1", function (data) {
                    $("#andModal").dialog("open");
                });           
                return false;
            });
          } );
    </script>
}

